searchable knowledge base.json
{
  "name": "searchable knowledge base",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -928,
        -256
      ],
      "id": "a3c471e1-d243-47de-a8a7-e4eb85d17cc0",
      "name": "When chat message received",
      "webhookId": "86856159-ca5d-48fe-9c9f-5c113c51ad2b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a ChatGPT-like assistant connected to a private knowledge base.\n\nUse the vector store tool whenever the user asks about uploaded documents, resumes, files, skills, projects, education, experience, policies, or any stored knowledge.\n\nAnswer conversationally, but only using retrieved knowledge.\n\nIf the answer is not found in the knowledge base, say:\n\"I could not find that in the uploaded knowledge base.\"\n\nRules:\n- Do not invent facts.\n- Keep answers clear and helpful.\n- For lists, use bullet points.\n- For comparisons, use tables.\n- If user asks follow-up questions, use conversation memory and the knowledge base.\n\nUser question:\n{{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -736,
        -256
      ],
      "id": "26b700c7-f3e4-4837-a2f2-5a5280c33a74",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -800,
        -64
      ],
      "id": "02e3c065-9493-474a-844c-0925ce62292a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LJRJwEeAyzGYpj1S",
          "name": "main API"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the uploaded document knowledge base. Use this tool for questions about resume, skills, education, projects, experience, documents, policies, facts, names, dates, and uploaded content.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -496,
        -48
      ],
      "id": "8ff3eb28-4b8a-4054-80da-7eb1d96690d5",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -496,
        128
      ],
      "id": "45f7a566-6aec-48dd-8c8f-dbd17a69779c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LJRJwEeAyzGYpj1S",
          "name": "main API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        -32
      ],
      "id": "b38de0a6-d859-4719-a40d-b5c265615ebb",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "10216a46-30b5-43bc-8df8-5a0f06998cd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4518c64eb9180e460b9626661124584bcc65f7380a92a77be9504db062a6324e"
  },
  "id": "ohVkVfZSu2imsOk5",
  "tags": []
}